%script{src: '/assets/progress_chart.js', type: 'text/javascript'}
%div{id: 'progress_chart'}
%button{onclick: 'TransitionCompleted()'}
  Completed Projects
%button{onclick: 'TransitionAll()'}
  All Projects
